.wc-text-center{

  text-align: center;

}

.wc-text-strong{

  background: $yellow;
  padding: 0 5px;
  font-weight:normal;

}


.wc-big-list{

  li{

    font-size: 18px;
    margin-bottom: 10px;

  }

}


.wc-box-icon{

  text-align: center;
  padding-bottom: 20px;

  i{

    font-size: 50px;
    color: $blue1;

  }

}

/*Organizatorzy*/

.wc-padding-row{

  padding-bottom: 40px;


}