/*--------------------------------------------------------------
Custom

CSS Taken from Addiotional CSS textarea in Customizer
--------------------------------------------------------------*/

.custom-header-media .site-branding {
    background-image: url('https://2018.poznan.wordcamp.org/files/2018/03/header-bg.png') !important;
}

h3 {
    text-transform: none;
    padding-top: 0;
}

/*
.single-wcb_speaker div > img.alignleft.size-medium,
.wcorg-speaker-description div > img.alignleft.size-medium {
    display: none;
}
*/

.wcorg-speakers,
.wcorg-sessions {
    & > * + * {
        margin-top: 3em;
    }
}

.wcorg-speaker-description img,
.wcorg-session-description img {
    float: left;
    margin-right: 1em;
}

#session-speaker-names,
#speaker-session-names {
    padding-left: 0;
}

/* added by szymon 08.05.2017: */
.entry-content h2,
.entry-content p + h2 {
    margin-bottom: 1em;
}

.entry-content h2:first-child {
    margin-top: 0;
}

.entry-content h2 em {
    color: #bbb;
    font-size: 18px;
    font-style: normal;
}

.wcpt-schedule .wcpt-session-type-custom {
    height: auto;
}

.wcb_speaker .speaker-avatar {
    display: none;
}

.post-thumbnail {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .wcb-track-sala-a:after,
                                            .wcb-track-sala-b:after,
                                            .wcb-track-sala-c:after {
        content: 'Sala';
        display: block;
        position: absolute;
        top: 9.8px;
        left: 9.8px;
        font-size: 10px;
        background-color: #333;
        padding: 1px 5px;
        border-radius: 2px;
        color: #fff;
        font-weight: normal;
    }

    .wcb-track-sala-a:after {
        content: 'Sala A';
    }

    .wcb-track-sala-b:after {
        content: 'Sala B';
    }

    .wcb-track-sala-c:after {
        content: 'Sala C';
    }

    .wcb-session-podsumowanie-i-zakonczenie:after,
                                    .wcpt-session-type-custom:after {
        display: none;
    }

    .wcb-track-sala-a.wcb-track-sala-b:after {
        content: 'Sala A, Sala B';
    }
}

@media screen and (min-width: 700px) {
    .wcorg-sponsor-level-mikrosponsor .wcorg-sponsor {
        float: left;
        width: 50%;
        min-height: 250px;
        text-align: center;
    }

    .wcorg-sponsor-level-mikrosponsor .wcorg-sponsor img {
        max-width: 90%;
        height: auto;
    }

    .post-2375 .entry-content .row img,
            .post-2867 .entry-content .row img {
        max-width: 90%;
        height: auto;
    }
}

/* partnerzy */
.post-2375 .entry-content .row,
.post-2867 .entry-content .row {
    margin-bottom: 2em;
}

.post-2375 .entry-content .row:last-child,
.post-2867 .entry-content .row:last-child {
    margin-bottom: 0;
}

td.wcb-favourite-session a.fav-session-button {
    color: #fdce3d;
}
