/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page-header {
  padding-bottom: 2em;
}

.page .entry-header .edit-link {
  font-size: 14px;
  font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
  font-size: 11px;
  font-size: 0.6875rem;

}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page:not(.home) #content {
  padding-bottom: 1.5em;
}

/* 404 page */

.error404 .page-content {
  padding-bottom: 4em;
  .search-form {
    margin-bottom: 3em;
  }
}

.search .page-content .search-form {
  margin-bottom: 3em;
}

.contact-form textarea,.contact-form input[type="text"], .contact-form input[type="email"]{
  width:100% !important;
  max-width:100% !important;
}

/*bilety*/

.tix-js{

  form{

    input[type="submit"]{

      background: $box-color-4;
      text-transform: uppercase;
      font-weight: normal;

      &:hover{

        background: lighten($box-color-4, 4%);

      }

    }

    #tix-coupon-container{

      #tix-coupon-input{

        width: 40%;
        float: right;

      }

      input[type="submit"]{


        background: $blue1;
        font-size: 12px;
        padding: 7px 12px;
        float:right;
        clear: both;
        margin-top: 5px;

        &:hover{

          background: lighten($blue1, 5%)

        }

      }

    }

  }

  .tix-column-quantity{

    select{

      padding-left: 5px;
      min-width: 48px;
      height: 2.3em;

    }

  }

  .tix-ticket-excerpt{

    font-size: 15px;
    line-height: 1.4;
    display: block;

  }

  th.tix-column-description{

    text-indent: -3000px;
    overflow: hidden;

  }

  .tix-column-price{

    font-weight: bold;

  }

  &.tix-has-dynamic-receipts h2 {
    margin: rem(0px);
  }

  td.tix-column-remaining{

    text-align: center;
    color: $box-color-4;

  }

  .tix_tickets_table.tix-attendee-form th {
    font-size: rem(26px);
    font-weight: 500;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
  }

  .tix-left {
    font-weight: bold;
  }

  .tix-right {
    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
      width: 100%;
    }
    label {
      font-weight: normal;
      display: flex;
      align-items: center;

      input {
        margin-right: rem(10px);
        align-self: flex-start;
        margin-top: rem(6px);
      }
    }

    br {
      display: none;
    }
  }

}

/*Kalendarz wordupów*/

.page-slug-kalendarz-wordupow{

  .entry-header {
    max-width: rem(800px);
    padding: 0 2em !important;
  }

  .site-content{

    .wrap{

      max-width: 1170px;

      .entry-content{

        iframe{

          width: 100%;
          max-width: 100%;

        }

      }

    }

  }

}

.page-slug-uczestnicy{

  #tix-attendees{

    .tix-attendee-list{

      padding-left: 0;

      &.tix-columns-3{
        margin: 0;
        padding: 0;
        width: 100%;

        img{

          width: 90px;
          height: 90px;

        }

        li{

          margin-bottom: 30px;
          width: 33.33%;


        }

      }

      .tix-field{

        margin-left: 105px;

      }


    }

  }




}

/*organizatorzy*/

.wcorg-organizers{

  .wcorg-organizer{


    .wcorg-organizer-description{

      position: relative;
      padding-left: 120px;
      padding-bottom: 30px;
      min-height: 140px;

      p:last-child{

        margin-bottom: 0;

      }

      .avatar{

        margin-right: 25px;
        width: 96px;
        height: 96px;
        position: absolute;
        left: 0;
        top: 10px;

      }

    }


  }

}

/*Dla sponsorów*/

.page-slug-zostan-sponsorem,
.page-id-1242{

  .site-content {

    .wrap {

      max-width: 1170px;

    }

  }

}

// Become a sponsor
#post-420 .entry-header {
  max-width: rem(800px);
  padding-left: 2em;
  padding-right: 2em;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  margin: rem(0 20px);
}

/*Prelekcje*/

.page-slug-program{


  .site-content {

    .wrap {

      max-width: 1170px;

    }

  }

}

.wcpt-schedule{

  font-size: 14px;

  .wcpt-col-time{

    width: 4%;
    border-bottom: 0px;

  }

  .wcpt-col-track{

    width: 32%;
    border-bottom-width: 0px;
  }

  .wcpt-time{

    font-weight: bold;

  }

  tr.global-session{

    background-color: #f3f3f3;
    border-right: 2px solid #d9d9d9;

  }




  td{

    padding: 0.7em 0.7em;
    vertical-align: top;

  }

  th{
    padding: 0.7em 0.7em;
  }

  .wcpt-session-speakers{

    clear: both;
    display: block;

    a{


      font-style: italic;
      color: #c02942;
      font-size: 13px;

    }
  }

  .wcpt-session-type-custom{
    font-weight: bold;
    text-align: center;
    height: 50px;
  }

  .wcpt-col-track{

    background: #c0c0c0;
    text-align: center;

    &:nth-child(even){
      background: #d4d4d4;
    }
  }

}

/*dla wszystkich*/

.wcb-speaker-magdalena-paciorek.wcb-speaker-jakub-milczarek,
.wcb-speaker-maciej-swoboda,
.wcb-speaker-kasia-swiderska,
.wcb-speaker-aleksander-kuczek,
.wcb-speaker-adam-czajczyk,
.wcb-speaker-arek-steplowski,
.wcb-speaker-ewa-karaszkiewicz,
.wcb-speaker-gienia-malenia,
.wcb-speaker-magdalena-gorecka,
.wcb-speaker-karol-trybulski,
.wcb-speaker-olexij-fedorov,
.wcb-speaker-tomasz-kolkiewicz,
.wcb-speaker-maria-gorska,
.wcb-speaker-rafal-tomal,
.wcb-speaker-katarzyna-janoska,
.wcb-speaker-dominik-kawula{
  padding-top: 35px!important;
  border-right: 2px solid rgb(0, 111, 153)!important;
  position: relative;
}

/* dla blogerow*/

.wcb-speaker-bartosz-romanowski,
.wcb-speaker-ola-gosciniak,
.wcb-speaker-tomasz-palak,
.wcb-speaker-lukasz-badziak{
  padding-top: 35px!important;
  border-right: 2px solid #61BD4F !important;
  position: relative;
}

/* dla programistow*/

.wcb-speaker-tomasz-dziuda,
.wcb-speaker-rafal-osinski,
.wcb-speaker-michal-strzesniewski,
.wcb-speaker-piotr-niewiadomski,
.wcb-speaker-marcin-bot,
.wcb-speaker-daniel-wlazlak,
.wcb-speaker-marcin-pietrzak,
.wcb-speaker-krzysztof-drozdz,
.wcb-speaker-lukasz-wilczak,
.wcb-speaker-kamil-porembinski,
.wcb-speaker-szymon-kadzielawa,
.wcb-speaker-bartosz-bilicki,
.wcb-speaker-krzysztof-ozog,
.wcb-speaker-marcin-krzeminski,
.wcb-track-dla-programistow,
.wcb-speaker-patryk-omiotek.wcb-track-dla-programistow{

  padding-top: 35px!important;
  border-right: 2px solid rgb(192, 41, 66)!important;
  position: relative;
}

.wcb-track-dla-programistow{


  &:before{

    display: none;

  }
}

/*warsztaty*/

.wcb-speaker-krzysztof-ozog,
.wcb-speaker-katarzyna-janoska.wcb-track-sala-b,
.wcb-session-kontynuacja-warsztatow-3,
.wcb-session-kontynuacja-warsztatow-9{

  border-bottom: 1px solid #fff;
  vertical-align: middle!important;

}

.wcb-session-kontynuacja-warsztatow-3,
.wcb-track-dla-programistow.wcb-track-sala-b{

  .wcpt-session-title{

    font-weight: normal;
    font-size: 12px;

  }

}



.wcb-session-kontynuacja-warsztatow-4,
.wcb-session-kontynuacja-warsztatow-3,
.wcb-session-kontynuacja-warsztatow-8,
.wcb-session-kontynuacja-warsztatow-2{

    border-right: 2px solid #006f99!important;
    border-bottom: 1px solid #fff;
    vertical-align: middle!important;

  .wcpt-session-title{

    font-weight: normal;
    font-size: 12px;

  }
}

.wcb-session-kontynuacja-warsztatow-5,
.wcb-session-kontynuacja-warsztatow-6,
.wcb-session-kontynuacja-warsztatow-7{

  border-bottom: 1px solid #fff;
  vertical-align: middle!important;


  .wcpt-session-title{

    font-weight: normal;
    font-size: 12px;

  }

}

.wcb-speaker-marcin-krzeminski.wcb-track-sala-b,
.wcb-speaker-dominik-kawula.wcb-track-sala-b,
.wcb-speaker-patryk-omiotek.wcb-track-dla-programistow{


  border-bottom: 1px solid #fff;

}

.wcb-speaker-patryk-omiotek.wcb-track-dla-programistow{

  .wcpt-session-title{

    font-size: 14px;

  }

}
