/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page-header {
  padding-bottom: 2em;
}

.page .entry-header .edit-link {
  font-size: 14px;
  font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
  font-size: 11px;
  font-size: 0.6875rem;

}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page:not(.home) #content {
  padding-bottom: 1.5em;
}

/* 404 page */

.error404 .page-content {
  padding-bottom: 4em;
  .search-form {
    margin-bottom: 3em;
  }
}

.search .page-content .search-form {
  margin-bottom: 3em;
}

.contact-form textarea,.contact-form input[type="text"], .contact-form input[type="email"]{
  width:100% !important;
  max-width:100% !important;
}

/*bilety*/

.tix-js{

  form{

    input[type="submit"]{

      background: $box-color-4;
      text-transform: uppercase;
      font-weight: normal;

      &:hover{

        background: lighten($box-color-4, 4%);

      }

    }

    #tix-coupon-container{

      #tix-coupon-input{

        width: 40%;
        float: right;

      }

      input[type="submit"]{


        background: $blue1;
        font-size: 12px;
        padding: 7px 12px;
        float:right;
        clear: both;
        margin-top: 5px;

        &:hover{

          background: lighten($blue1, 5%)

        }

      }

    }

  }

  .tix-column-quantity{

    select{

      padding-left: 5px;
      min-width: 48px;
      height: 2.3em;

    }

  }

  .tix-ticket-excerpt{

    font-size: 15px;
    line-height: 1.4;
    display: block;

  }

  th.tix-column-description{

    text-indent: -3000px;
    overflow: hidden;

  }

  .tix-column-price{

    font-weight: bold;

  }

  &.tix-has-dynamic-receipts h2 {
    margin: rem(0px);
  }

  td.tix-column-remaining{

    text-align: center;
    color: $box-color-4;

  }

  .tix_tickets_table.tix-attendee-form th {
    font-size: rem(26px);
    font-weight: 500;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
  }

  .tix-left {
    font-weight: bold;
  }

  .tix-right {
    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
      width: 100%;
    }
    label {
      font-weight: normal;
      display: flex;
      align-items: center;

      input {
        margin-right: rem(10px);
        align-self: flex-start;
        margin-top: rem(6px);
      }
    }

    br {
      display: none;
    }
  }

}

/*Kalendarz wordupów*/

.page-slug-kalendarz-wordupow{

  .entry-header {
    max-width: rem(800px);
    padding: 0 2em !important;
  }

  .site-content{

    .wrap{

      max-width: 1170px;

      .entry-content{

        iframe{

          width: 100%;
          max-width: 100%;

        }

      }

    }

  }

}

.page-slug-uczestnicy{

  #tix-attendees{

    .tix-attendee-list{

      padding-left: 0;

      &.tix-columns-3{
        margin: 0;
        padding: 0;
        width: 100%;

        img{

          width: 90px;
          height: 90px;

        }

        li{

          margin-bottom: 30px;
          width: 33.33%;


        }

      }

      .tix-field{

        margin-left: 105px;

      }


    }

  }




}

/*organizatorzy*/

.wcorg-organizers{

  .wcorg-organizer{


    .wcorg-organizer-description{

      position: relative;
      padding-left: 120px;
      padding-bottom: 30px;
      min-height: 140px;

      p:last-child{

        margin-bottom: 0;

      }

      .avatar{

        margin-right: 25px;
        width: 96px;
        height: 96px;
        position: absolute;
        left: 0;
        top: 10px;

      }

    }


  }

}

/*Dla sponsorów*/

.page-slug-zostan-sponsorem,
.page-id-1242{

  .site-content {

    .wrap {

      max-width: 1170px;

    }

  }

}

// Become a sponsor
#post-420 .entry-header {
  max-width: rem(800px);
  padding-left: 2em;
  padding-right: 2em;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  margin: rem(0 20px);
}

/*Prelekcje*/

.page-slug-program{


  .site-content {

    .wrap {

      max-width: 1170px;

    }

  }

}

.wcpt-schedule {
  font-size: 14px;

  .wcpt-col-time {
    width: 4%;
    border-bottom: 0px;
  }

  .wcpt-col-track {
    width: 32%;
    border-bottom-width: 0px;
  }

  .wcpt-time {
    font-weight: bold;
  }

  tr.global-session {
      background-color: #f6f9fb;
  }

  td {
    padding: 0.7em 0.7em;
    vertical-align: top;
  }

  th {
    padding: 0.7em 0.7em;
  }

  .wcpt-session-speakers{
    clear: both;
    display: block;

    a {
      font-style: italic;
      color: #c02942;
      font-size: 13px;
    }
  }

  .wcpt-session-type-custom{
    font-weight: bold;
    text-align: center;
    height: 50px;
  }

  .wcpt-col-track{
    background: #e9eff3;
    text-align: center;

    &:nth-child(even){
      background: #f3f6f8;
    }
  }
}

.wcb-speaker-maciej-swoboda,
.wcb-speaker-tomasz-palak {
  text-align: center;
  background-color: #fff;
}

.wcpt-schedule td {
  position: relative;
}

.wcpt-schedule div.wcb-session-favourite-icon {
  float: right;
  width: auto;
  text-align: center;
  position: absolute;
  top: 12px;
  right: 5px;
}

.wcb-session-cell-content {
  padding-right: 2em;
}
