/*--------------------------------------------------------------
Sponsors
--------------------------------------------------------------*/
.entry-content {

  .wcorg-sponsors {
    h2 {
      background-color: #234792;
      padding: 10px 20px;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      margin: 50px 0;
      letter-spacing: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
